APP_ENV=development


DB_ENGINE=mysql
DB_HOST=localhost
DB_PORT=3300
DB_NAME=dbname
DB_USER=root
DB_PASSWORD=

S3_BUCKET_ACCESS_KEY=
S3_BUCKET_SECRET_KEY=
S3_BUCKET_ENDPOINT_URL=
S3_BUCKET_NAME=

JWT_SECRET_KEY=ineedtodetectslop
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440


# Ollama Configuration
OLLAMA_MODEL=sailor2:1b
OLLAMA_TEMPERATURE=0.1
OLLAMA_MAX_TOKENS=300
OLLAMA_TIMEOUT=30
