# Web Framework
fastapi
uvicorn[standard]

# Database
sqlalchemy
pymysql
alembic
psycopg2-binary

# Configuration & Environment
python-dotenv
pydantic-settings
pydantic

# API Request Handling
python-multipart
httpx
requests

# Authentication & Security
passlib
python-jose[cryptography]
bcrypt
email-validator

# AI/ML & Image Processing
onnxruntime
numpy
pillow
transformers
install
paddlepaddle
paddleocr
ollama
faster-whisper
yt_dlp

# PDF Generation
reportlab

# bucket
boto3

# Testing framework
pytest
pytest-asyncio
pytest-mock

# Logging
loguru

# Conversions
moviepy
